@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Raleway:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.material-symbols-outlined {
  margin-right: 5px;
  vertical-align: middle;
}

html {
  scroll-behavior: smooth;
}

.intro {
  text-align: center;
  color: white;
  font-size: 22px;
}

.nav-links {
  padding: 10px 5%;
  transition: all 0.3s ease-in-out;
  background-color: #303030;
  position: sticky;
  height: 5em;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav span {
  color: white;
}

#intrologo {
  margin-left: -4em;
}

#menuicon {
  display: none;
}

#close {
  display: none;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0.625em 1.2em;
  margin-top: 1em;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "League Spartan", sans-serif;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #3498db;
  position: absolute;
  left: 0;
  bottom: -6px;
}

nav ul li a:hover::after {
  width: 100%;
  transition: 0.4s;
}

.logo {
  width: 140px;
  height: 140px;
  justify-content: center;
  margin-top: -2.3em;
  margin-left: 20px;
}

.intro {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
}

.intro p {
  font-size: 40px;
}

body {
  background-color: #252525;
}

/*A propos*/

#about {
  margin-top: 50px;
  color: white;
}

.lignesapropos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.apropos1 {
  width: 40%;
  margin-left: 5%;
  flex-basis: 45%;
}

.apropos1 h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: justify;
  font-family: "League Spartan", sans-serif;
}

.apropos1 p {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  justify-content: space-around;
}

.apropos2 img {
  width: 40%;
  margin-right: 5%;
  border-radius: 10px;
  margin-left: 150px;
}

.apropos2 {
  width: 60%;
  flex-basis: 50%;
  text-align: center;
}

.education {
  padding: 40px 5%;
  color: white;
}

.education h2 {
  font-family: "League Spartan", sans-serif;
  text-align: center;
}

.education p h3 {
  font-family: "Montserrat", sans-serif;
}

.ligneseducation {
  display: flex;
}

.education h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "League Spartan", sans-serif;
}

.educationitem {
  background-color: #1a1a1a;
  height: auto;
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
}

.texteducation {
  padding: 15px 15px;
}

.texteducation p {
  font-family: "Montserrat", sans-serif;
  margin: 3px 0;
  font-style: italic;
}

.texteducation h4 {
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  text-align: justify;
}

.texteducation h3 {
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}

.education h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: "League Spartan", sans-serif;
}

.educationitem1,
.educationitem2 {
  width: 50%;
}

.educationitem1 {
  margin-left: 0;
}

.cv-btn {
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #3498db;
  background-color: #3498db;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.texteducation a {
  color: white;
}

/*Compétences*/

.competences {
  padding: 0 5%;
  color: white;
  height: 475px;
}

.competences img {
  border-radius: 10px;
  margin-top: 3vh;
}

.competences li {
  list-style: none;
}

.texte-competences {
  flex-basis: 55%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.titrecomp h1 {
  padding: 40px 5%;
  color: white;
  font-family: "League Spartan", sans-serif;
  font-size: 40px;
}

.competences li {
  list-style: none;
  margin: 10px 0;
}

.competences li span {
  font-family: "League Spartan", sans-serif;
  color: #3498db;
  font-size: 30px;
}

.comp_img a {
  color: white;
  text-decoration: none;
}

.content-competences .date {
  font-size: 18px;
}

.content-competences li * {
  font-size: 15px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.liste-competences {
  display: flex;
  margin: 20px 0 40px;
  width: 80%;
  justify-content: space-between;
}

.img-competences {
  flex-basis: 40%;
}

.devweb-img {
  display: block;
}

.img-competences img {
  width: 32%;
  height: auto;
  margin-left: 2em;
  padding: 20px;
  margin-top: 0;
}

.comp-img.active-tab {
  display: block;
}

.logoside img {
  width: 20%;
  margin-left: 4em;
}

.comp-img {
  display: none;
}

.liste-links {
  margin-right: 50px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  position: relative;
}

.liste-links::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #3498db;
  transition: 0.5s;
}

.liste-links:hover::after {
  width: 100%;
}

.liste-links.active-link::after {
  width: 40%;
}

.content-competences {
  display: none;
  background-color: #1a1a1a;
  border-radius: 15px;
}

.content-competences ul {
  margin: 10px;
  padding: 10px;
}

.content-competences.active-tab {
  display: block;
}

.description a {
  color: white;
}

/*Contact*/

.contact {
  padding: 40px 5%;
  color: white;
}

.contact-titre {
  font-size: 40px;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input,
textarea {
  font-family: "Montserrat", sans-serif;
}

label {
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
}

input[type="submit"] {
  background-color: #3498db;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #65b8ef;
}

.contact-row {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  flex-wrap: wrap;
}

.form {
  flex-basis: 50%;
  background-color: #1a1a1a;
  border-radius: 15px;
  padding: 20px;
}

.liens {
  flex-basis: 40%;
  padding: 20px;
}

.github img,
.linkedin img {
  width: 90px;
  padding: 10px;
}

.rgpd {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 10px;
  margin-top: 1em;
}

.rgpd a {
  color: white;
}

.linkedin,
.github {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.linkedin a,
.github a {
  color: white;
  text-decoration: none;
}

.contact-row h1 {
  font-size: 25px;
  font-family: "League Spartan", sans-serif;
}

.mess-envoye {
  text-align: center;
  align-items: center;
}

footer {
  background-color: #303030;
  color: white;
  font-family: "Raaleway", sans-serif;
  font-size: 12px;
  text-align: center;
  height: 100%;
}

.footer {
  padding: 0;
}

footer span {
  color: #3498db;
}

.phone span {
  font-size: 80px;
}

.phone {
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 980px) {
  .img-competences {
    display: none;
  }

  .row {
    display: inline;
  }
}

@media only screen and (max-width: 700px) {
  .contact-row {
    justify-content: center;
  }

  .lignesapropos {
    display: flex;
  }

  .intro p {
    font-size: 30px;
  }

  #about {
    margin-top: 1em;
  }

  .cv-btn {
    padding: 0;
  }

  .education {
    padding: 10px;
  }

  .education h1 {
    font-size: 35px;
    text-align: center;
  }

  .ligneseducation {
    display: grid;
  }

  .educationitem1,
  .educationitem2 {
    width: 100%;
    margin-left: 0;
  }

  .texteducation {
    font-size: 15px;
  }

  .titrecomp h1 {
    font-size: 35px;
    text-align: center;
    padding: 10px;
  }

  .contact-row {
    display: block;
  }

  .contact-titre {
    font-size: 25px;
    text-align: center;
  }

  .contact {
    padding: 10px;
  }

  .intro {
    margin-top: 1em;
  }

  .intro h2 {
    font-size: 18px;
  }

  .lignesapropos h1 {
    font-size: 25px;
    text-align: center;
  }

  .apropos1 {
    flex-basis: 100%;
    margin: 25px;
  }

  .apropos1 h1 {
    font-size: 30px;
  }

  .apropos1 p {
    font-size: 18px;
    text-align: justify;
  }

  .apropos2 {
    display: none;
  }

  .intro2 {
    display: block;
  }

  .intro2 img {
    width: 150px;
  }

  .intro2 img {
    border-radius: 10px;
  }

  .liens span {
    font-size: 40px;
  }

  .liens img {
    width: 50px;
  }

  #close {
    margin: 30px;
  }

  .phone {
    margin-left: 5px;
  }

  .liens {
    flex-basis: 100%;
    padding: 10px;
  }

  .liens h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
  }

  .footer {
    font-size: 7px;
  }

  .footer span {
    font-size: 12px;
  }

  .liste-competences {
    display: grid;
    width: 100%;
  }

  .liste-competences p {
    margin: 10px;
    font-size: 20px;
  }

  .rgpd {
    font-size: 10px;
  }

  .logo {
    height: 90px;
    width: 90px;
    margin-top: -1.8em;
    margin-left: 30px;
  }

  .nav-links {
    height: 3em;
  }

  #menuicon {
    margin-top: 0;
  }

  .liste-links {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 800px) {
  #menuicon,
  #close {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .competences {
    height: auto;
  }

  .nav-links {
    width: 100%;
  }

  nav ul {
    background: #3498db;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    padding-left: 50px;
    z-index: 2;
    transition: right 0.5s ease;
  }

  nav ul li {
    display: block;
    margin: 40px 0;
  }

  #close {
    position: absolute;
    top: 0;
    left: 40px;
    margin: 30px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.competences {
  animation: fadeIn 0.8s ease-in-out;
}

.ligneseducation {
  animation: fadeIn 0.8s ease-in-out;
}

#contact {
  animation: fadeIn 0.8s ease-in-out;
}

.lignesapropos {
  animation: fadeIn 0.8s ease-in-out;
}

.comp-img.animate {
  animation: fadeIn 0.5s ease-in-out;
}
